# Defaults
alias np="source ~/.zshrc"
alias dotfiles="subl ~/.dotfiles"
alias .="dotfiles"
alias .dotfiles="dotfiles"
alias hosts="subl /etc/hosts"
alias sshkey="cat ~/.ssh/id_rsa.pub | pbcopy && echo 'Copied to clipboard.'"
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'
alias fresh='clear; echo -e "\033c\e[3J" && source ~/.zshrc'
alias c='fresh'
alias f='fresh'
alias ls='ls -laF'
alias l="ls -laF"
alias g="grep '|'' ./* -R"
alias wget="curl -O"
alias h="cd ~/"
alias s="cd ~/Sites/"
alias update="brew upgrade && sudo npm update -g && sudo npm i -g npm -g && composer self-update && composer global update"
alias p="phpunit"
alias pf="phpunit --filter "
alias pw="phpunit-watcher watch"
alias pwf="phpunit-watcher watch --filter "

# Tool replacements
alias cat=bat
alias p1='ping -c1'
alias man=tldr

# JavaScript
alias jest="./node_modules/.bin/jest"

# NPM, Composer & Laravel
alias lu='lucid'
alias el='envoy run list'
alias nw='npm run watch'
alias np='npm run production'
alias nd='npm run dev'
alias cu='[ -f vessel ] && ./vessel composer update || composer update'
alias ci='[ -f vessel ] && ./vessel composer install || composer install'
alias cda='[ -f vessel ] && ./vessel composer dump-autoload -o || composer dump-autoload -o'
alias ccc='[ -f vessel ] && ./vessel composer clear-cache || composer clear-cache'
alias cgu='[ -f vessel ] && ./vessel composer global update || composer global update'
alias amf='[ -f vessel ] && ./vessel artisan migrate:fresh || php artisan migrate:fresh'
alias amfs='[ -f vessel ] && ./vessel artisan migrate:fresh --seed || php artisan migrate:fresh --seed'
alias amr='[ -f vessel ] && ./vessel artisan migrate:refresh || php artisan migrate:refresh'
alias amrs='[ -f vessel ] && ./vessel artisan migrate:refresh --seed || php artisan migrate:refresh --seed'
alias ac='acc && avc && aconfig-clear'
alias acc='[ -f vessel ] && ./vessel artisan cache:clear || php artisan cache:clear'
alias avc='[ -f vessel ] && ./vessel artisan view:clear || php artisan view:clear'
alias aconfig-clear='[ -f vessel ] && ./vessel artisan config:clear || php artisan config:clear'
alias arl='[ -f vessel ] && ./vessel artisan route:list || php artisan route:list'
alias homestead='function __homestead() { (cd ~/Homestead && vagrant $*); unset -f __homestead; }; __homestead'
alias vm="homestead up && homestead ssh"
alias a='function __artisan() { [ -f vessel ] && ./vessel artisan "$@" || php artisan "$@" }; __artisan'
alias c='function __composer() { [ -f vessel ] && ./vessel composer "$@" || php composer "$@" }; __composer'
alias npmr='function __npm() { [ -f vessel ] && ./vessel npm run "$@" || npm run "$@" }; __npm'
alias y='function __yarn() { [ -f vessel ] && ./vessel yarn "$@" || yarn "$@" }; __yarn'
alias v='function __vessel() { ./vessel yarn "$@" }; __vessel'

# Magento
alias m='php71 -d memory_limit=-1 magento'
alias mce='php71 -d memory_limit=-1 magento cache:enable'
alias mcd='php71 -d memory_limit=-1 magento cache:disable config layout block_html full_page'
alias mthe='php71 -d memory_limit=-1 magento dev:template-hints:enable && mcc'
alias mthd='php71 -d memory_limit=-1 magento dev:template-hints:disable && mcc'
alias mcc='php71 -d memory_limit=-1 magento cache:clean config layout block_html full_page'
alias mcf='php71 -d memory_limit=-1 magento cache:flush config layout block_html full_page'
alias mss='rm -Rf ./pub/static/frontend && php71 -d memory_limit=-1 magento setup:static-content:deploy de_DE -f && mcc'

# Docker
alias dstart='[ -f vessel ] && ./vessel start || docker-compose start'
alias dstop='[ -f vessel ] && ./vessel stop || docker-compose stop'
alias dbuild='docker-compose build'
alias dup='[ -f vessel ] && (./vessel stop && ./vessel start) || (docker-compose stop && docker-compose up)'
alias drm='docker rm $(docker ps -aq)'
alias drmi='docker rmi $(docker images -q)'

# Docker vessel specific
alias vinit='[ ! -f vessel ] && (composer require shipping-docker/vessel && php artisan vendor:publish --provider="Vessel\VesselServiceProvider" && bash vessel init)'

# git
alias nah='git reset --hard;git clean -df'
alias gc="git checkout"
alias gpo="git push origin"
alias gm="git merge"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Fast open
alias o="open ."

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# VScode
alias code='open -a "/Applications/Visual Studio Code.app" "`pwd`"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Scrape webpage
alias scrape="scrapeUrl"
