# Defaults
alias np="source ~/.zshrc"
alias dotfiles="code ~/.dotfiles"
alias .="dotfiles"
alias .dotfiles="dotfiles"
alias hosts="code /etc/hosts"
alias sshkey="cat ~/.ssh/id_rsa.pub | pbcopy && echo 'Copied to clipboard.'"
alias fresh='clear; echo -e "\033c\e[3J" && source ~/.zshrc'
alias c='fresh'
alias f='fresh'
alias ls='ls -laF'
alias l="ls -laF"
alias g="grep '|'' ./* -R"
alias wget="curl -O"
alias h="cd ~/"
alias s="cd ~/Sites/"
alias update="brew upgrade && brew upgrade --cask && sudo npm update -g && composer global update"
alias p="phpunit"
alias pf="phpunit --filter "
alias pw="phpunit-watcher watch"
alias pwf="phpunit-watcher watch --filter "
alias mysqladm="mysql -u root"
alias killDrive="sudo kill -9 $(ps aux | grep 'Google Drive' | grep -v grep | awk '{print $2}')"

# Tool replacements
alias p1='ping -c1'

# Switch PHP version in valet
alias php7.4="vu 7.4"
alias php8="vu 8"
alias php8.1="vu 8.1"
alias php8.2="vu 8.2"
alias php8.3="vu 8.3"
alias php8.4="vu 8.4"

alias php74="php7.4"
alias php8="php8"
alias php81="php8.1"
alias php82="php8.2"
alias php83="php8.3"
alias php84="php8.4"

# NPM, Composer & Laravel
alias a="php artisan"
alias c="composer"
alias el='envoy run list'
alias nw='npm run watch'
alias np='npm run production'
alias nd='npm run dev'
alias cu='composer update'
alias ci='composer install'
alias cda='composer dump-autoload -o'
alias ccc='composer clear-cache'
alias cgu='composer global update'
alias amf='php artisan migrate:fresh'
alias amfs='php artisan migrate:fresh --seed'
alias amr='php artisan migrate:refresh'
alias amrs='php artisan migrate:refresh --seed'
alias ac='acc && avc && aconfig-clear'
alias acc='php artisan cache:clear'
alias avc='php artisan view:clear'
alias arl='php artisan route:list'
alias pp='php artisan test --parallel'
alias d='php artisan dusk'
alias sail='./vendor/bin/sail'
alias larastan="vendor/bin/phpstan analyse"

# Docker
alias dstart='docker-compose start'
alias dstop='docker-compose stop'
alias dbuild='docker-compose build'
alias dup='docker-compose stop && docker-compose up)'
alias drm='docker rm $(docker ps -aq)'
alias drmi='docker rmi $(docker images -q)'
alias dreset='docker system prune -a'

# git
alias nah='git reset --hard;git clean -df'
alias gc="git checkout"
alias gpo="git push origin"
alias gm="git merge"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Fast open
alias o="open ."

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="ip4"
alias ip4="dig @ns1.google.com TXT o-o.myaddr.l.google.com +short -4"
alias ip6="dig @ns1.google.com TXT o-o.myaddr.l.google.com +short -6"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Scrape webpage
alias scrape="scrapeUrl"
