# Deployment
alias d_twint_live="cd ~/Sites/twint.local && envoy run deploy_assets --env=live && envoy run deploy_live --env=live"
alias d_twint_staging="cd ~/Sites/twint.local && envoy run deploy_assets --env=staging && envoy run deploy_staging --env=staging"
alias d_twint_m2staging="cd ~/Sites/twint.local && envoy run deploy_assets_to_m2staging --env=m2staging && envoy run deploy_m2staging --env=m2staging"
alias d_m2live="cd ~/Sites/agency-websites && envoy run deploy --env=live && gulp --production"
alias d_m2dev="cd ~/Sites/agency-websites && envoy run deploy --env=dev && gulp"
alias d_m2slive="cd ~/Sites/mindtwo.systems.local && envoy run deploy --env=live && gulp --production"
alias d_m2sstaging="cd ~/Sites/mindtwo.systems.local && envoy run deploy --env=staging && gulp --production"
alias d_svg_live="cd ~/Sites/sous-vide-pro.local && envoy run deploy_assets_to_live && envoy run deploy_live --env=live"
alias d_svg_staging="cd ~/Sites/sous-vide-pro.local && envoy run deploy_assets_to_m2staging && envoy run deploy_m2staging"

# Defaults
alias np="source ~/.zshrc"
alias dotfiles="subl ~/.dotfiles"
alias hosts="subl /etc/hosts"
alias sshkey="cat ~/.ssh/id_rsa.pub | pbcopy && echo 'Copied to clipboard.'"
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'
alias fresh='clear; echo -e "\033c\e[3J" && source ~/.zshrc'
alias c='fresh'
alias f='fresh'
alias ls='ls -laF'
alias l="ls -laF"
alias find="grep '|'' ./* -R"
alias wget="curl -O"
alias h="cd ~/"
alias s="cd ~/Sites/"
alias update="brew upgrade && sudo n latest && sudo npm update && sudo npm i -g npm -g && composer global update"

# NPM, Composer & Laravel
alias n_w='npm run watch'
alias n_p='npm run production'
alias n_d='npm run dev'
alias c_u='composer update'
alias c_i='composer install'
alias c_da='composer dump-autoload'
alias c_d='c_da'
alias c_cc='composer clear-cache'
alias c_c='c_cc'
alias c_gu='composer global update'
alias art="php artisan"
alias a="art"
alias art_mr='art migrate:refresh'
alias amr='art_mr'
alias art_cc='art cache:clear'
alias acc='art_cc'
alias homestead='function __homestead() { (cd ~/Homestead && vagrant $*); unset -f __homestead; }; __homestead'
alias vm="homestead up && homestead ssh"

# git
alias gpo="git push origin"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Fast open
alias o="open ."

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Scrape webpage
alias scrape="scrapeUrl"
