[user]
	useConfigOnly = true
	name = Jonas Emde
	email = emde@mindtwo.de
[color]
	ui = true
[core]
	editor = subl
	excludesfile = ~/.global-gitignore
    ignorecase = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[pretty]
	custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
    #                     │        │            │            │             └─ author name
    #                     │        │            │            └─ message
    #                     │        │            └─ date (relative)
    #                     │        └─ decorations (branch, heads or tags)
    #                     └─ hash (abbreviated)
[alias]
	c  = commit -am
	up = pull
	p  = push
	s  = status
	co = checkout
	cp = cherry-pick
	df = diff --color --color-words --abbrev
	l  = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

	# Show the diff between the latest commit and the current state
	d  = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	# See https://johnblackbourn.com/git-changelog-generator
	changelog = "!_() { t=$(git describe --abbrev=0 --tags); git log ${t}..HEAD --no-merges --pretty=format:'* %s'; }; _"
	clog = log --pretty="%h, %cn, %ce, %cr, %s"
[mergetool]
	keepBackup = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true
